.dropdown {
	background-color: white;
	position: absolute;
	top: 45px;
	display: flex;
	justify-content: center;
	width: 100px;
	border-radius: 10px;
	overflow: hidden;
}

.dropdown > ul {
	margin: 0;
	padding: 5px 10px;
	list-style-type: none;
	text-align: left;
	width: 100%;
}

.dropdown > ul > li {
	padding: 8px 0;
}

.link {
	text-decoration: none;
	color: black;
	cursor: pointer;
}

.link:hover {
	text-decoration: underline;
}
