.taskWrapper {
	width: 100%;
	margin-right: 150px;
	margin-left: 300px;
	margin-bottom: 50px;
}

.addTask {
	width: 100%;
	height: 60px;
	display: grid;
	grid-template-columns: 0.1fr 3fr 1fr 1fr;
	grid-template-rows: 1fr 2fr 1fr;
	gap: 15px;
	align-items: center;
	margin-top: 25px;
	margin-bottom: 150px;
}

.addButton {
	border: 2px solid #7d3ad1;
	background-color: transparent;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	font-size: 2rem;
	color: #7d3ad1;
	justify-self: left;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}

.addText {
	border: none;
	height: 25px;
	border-bottom: 1px solid rgb(98, 98, 98);
	font-size: 0.9rem;
}

.addText:focus {
	outline: none;
}

.addDueWrapper {
	display: flex;
}

.addDue {
	font-family: sans-serif;
	height: 25px;
	border: none;
	border-bottom: 1px solid rgb(98, 98, 98);
	min-width: 75px;
	width: 100%;
	padding-left: 22px;
	font-size: 0.9rem;
}

.addDueIconWrapper {
	display: flex;
	align-items: center;
	height: 100%;
}

.addDueIcon {
	height: 18px;
	width: 18px;
	position: absolute;
	z-index: 50;
}

.addTagWrapper {
	display: flex;
}

.addTag {
	height: 25px;
	border: none;
	border-bottom: 1px solid rgb(98, 98, 98);
	grid-area: 1 / 4;
	width: 100%;
	padding-left: 20px;
	font-size: 0.9rem;
}

.addTagIconWrapper {
	display: flex;
	align-items: center;
	height: 100%;
}

.addTagIcon {
	width: 18px;
	height: 18px;
	position: absolute;
	z-index: 50;
}

.addDescription {
	grid-column-start: span 4;
	width: 100%;
	height: 50px;
	font-family: sans-serif;
	text-indent: 5px;
	resize: none;
}

.priority {
	grid-column-start: span 4;
}

.addPriority {
	display: inline;
}

.addPriority input {
	margin-left: 15px;
}

.priorityLabel {
	margin: 0;
	padding: 0;
	display: inline-block;
}
