.wrapper {
	display: flex;
	align-items: center;
	margin: 20px 0;
	flex-wrap: wrap;
}

.wrapper > * {
	margin-right: 15px;
}

.wrapper > span {
	display: flex;
	align-items: center;
	margin-right: 25px;
}

.completeButton {
	border: 2px solid black;
	border-radius: 50%;
	height: 30px;
	width: 30px;
	background-color: transparent;
	cursor: pointer;
}
