.taskWrapper {
	width: 100%;
	margin-right: 150px;
	margin-left: 300px;
}

.addTask {
	width: 100%;
	height: 60px;
	display: grid;
	grid-template-columns: 0.1fr 3fr 1fr 1fr;
	gap: 15px;
	align-items: center;
	/* outline: 1px solid red; */
	margin-top: 25px;
}

.addButton {
	border: 2px solid #7d3ad1;
	background-color: transparent;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	font-size: 2rem;
	color: #7d3ad1;
	justify-self: left;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}

.addText {
	border: none;
	height: 25px;
	/* margin: 0 10px; */
	border-bottom: 1px solid rgb(98, 98, 98);
	font-size: 1rem;
}

.addText:focus {
	outline: none;
}

.addDue {
	font-family: sans-serif;
	height: 25px;
	border: none;
	border-bottom: 1px solid rgb(98, 98, 98);
	min-width: 75px;
}

.addTag {
	height: 25px;
	border: none;
	border-bottom: 1px solid rgb(98, 98, 98);
}
